@font-face {
  font-family: "jupiterx";
  src: url("../fonts/jupiterx.eot");
  src: url("../fonts/jupiterx.eot?#iefix") format("eot"), url("../fonts/jupiterx.woff2") format("woff2"), url("../fonts/jupiterx.woff") format("woff"), url("../fonts/jupiterx.ttf") format("truetype"), url("../fonts/jupiterx.svg#jupiterx") format("svg");
}
[class^=jupiterx-icon-]:before,
[class*=" jupiterx-icon-"]:before {
  font-family: "jupiterx";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jupiterx-icon-rocket-solid:before {
  content: "\ea01";
}

.jupiterx-icon-creative-market:before {
  content: "\ea02";
}

.jupiterx-icon-long-arrow:before {
  content: "\ea03";
}

.jupiterx-icon-search-1:before {
  content: "\ea04";
}

.jupiterx-icon-search-2:before {
  content: "\ea05";
}

.jupiterx-icon-search-3:before {
  content: "\ea06";
}

.jupiterx-icon-search-4:before {
  content: "\ea07";
}

.jupiterx-icon-share-email:before {
  content: "\ea08";
}

.jupiterx-icon-shopping-cart-1:before {
  content: "\ea09";
}

.jupiterx-icon-shopping-cart-10:before {
  content: "\ea0a";
}

.jupiterx-icon-shopping-cart-2:before {
  content: "\ea0b";
}

.jupiterx-icon-shopping-cart-3:before {
  content: "\ea0c";
}

.jupiterx-icon-shopping-cart-4:before {
  content: "\ea0d";
}

.jupiterx-icon-shopping-cart-5:before {
  content: "\ea0e";
}

.jupiterx-icon-shopping-cart-6:before {
  content: "\ea0f";
}

.jupiterx-icon-shopping-cart-7:before {
  content: "\ea10";
}

.jupiterx-icon-shopping-cart-8:before {
  content: "\ea11";
}

.jupiterx-icon-shopping-cart-9:before {
  content: "\ea12";
}

.jupiterx-icon-zillow:before {
  content: "\ea13";
}

.jupiterx-icon-zomato:before {
  content: "\ea14";
}